body {
	background: url("../img/background.jpg") center center;
	background-size: cover;
}

#main {
text-align: center;
/*background-color: #e7e7e7;*/
height: 900px;
}

header{
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	text-shadow: 1px 2px 0px #000000;
	font-weight: 300;
	margin-bottom: 32px;
}

#logo {
	/*mix-blend-mode: overlay; only for chrome*/
	opacity: 0.25;
	margin-top: 50px;
}

#logo:hover {
	opacity: 1;
}

#sectLeft {
/*	float: left;*/
	display: inline-block;
	vertical-align: top;
	padding-right: 44px;
	height: 900px;
/*	width: 50%;*/
/*	padding-left: 25%;*/
}

#sectRight {
/*	float: left;*/
	display: inline-block;
	vertical-align: top;
	padding-left: 44px;
	height: 900px;
/*	width: 50%;*/
/*	padding-left: 84px;
	padding-right: 10%;*/
}

form {
/*	margin-left: 25%;*/
	position: relative;
	display: block;
	width:384px;
	background-color: #f4f4f4;
	border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	border: 0px solid #000000;
	-webkit-box-shadow: 0px 0px 0px 16px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 0px 16px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 0px 16px rgba(0,0,0,0.35);
	padding: 20px 0;
	margin-bottom: 40px; 
}

input[type="text"] {
	height: 40px;
	position: relative;
	padding-left:70px;
}

input[type="text"],
textarea {
/*	display: block;
	margin-left: auto;
	margin-right: auto;*/
	width: 268px;
	margin-bottom: 20px;
	background-color: #f6f6f6;
	border: 1px solid #c7c7c7;
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

input[type="text"]:focus,
textarea:focus {
	outline: none;
	border: 1px solid #9b9b9b;
	-webkit-transition: border 0.4s;
  	-moz-transition: border 0.4s;
  	-o-transition: border 0.4s;
 	transition: border 0.4s;
}

input[type="text"], input[type="submit"], select {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

select {
	background: #f6f6f6;
	width: 338px;
	height: 40px;
	border-radius: 5px;
	padding-left: 70px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border: 1px solid #c7c7c7;
	color: #ababab;
	background: url(../img/triangle.gif) no-repeat 96% center,
	url(../img/location.png) no-repeat 19px center;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select:focus {
	outline: none;
	border: 1px solid #9b9b9b;
}

label {
	position: absolute;
	z-index: 1;
	border-right: 1px solid #c7c7c7;
	left: 75px;
	height: 25px;
	margin-top: 10px;
}
.username {
	background: url(../img/username.png) no-repeat 15px center;
	/*width: 298px;*/
}

.password {
	background: url(../img/password.png) no-repeat 15px center;
}

.email {
	background: url(../img/email.png) no-repeat 15px center;
}

.number {
	background: url(../img/phone_nmbr.gif) no-repeat 20px center;
}

input[type="checkbox"] {
	display: none;
}
.cbox_l {
	position: relative;
}